
.background {
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensures the background covers the full viewport */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

}

.card-color{
  background-color: blue;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 80%;
  padding: 20px;
  max-height: 80vh; /* Limit height to 80% of the viewport */
  overflow-y: auto; /* Allow scrolling when content overflows */
  margin: 20px 0; /* Margin to add space above and below */
  box-sizing: border-box;
  max-height: 80vh;


}

@media (max-width: 768px) {
  .card {
    padding: 10px;
    height: auto;
    max-height: 40hv;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 5px;
    gap: 10px;
    height: auto;
    max-height: 20hv;
  }
}

.video {
  display: flex; /* Flexbox layout for centering and responsive behavior */
  
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  justify-content: flex-start;
  align-items: center; /* Center the videos vertically */
  box-sizing: border-box;
  height: auto;
    /*max-height: 20vh;  /* On smaller screens, reduce the max height to 30% of the viewport height*/
  max-width: 30vh;
}

@media (max-width: 768px){
  .video{
    height: auto;
    /*max-height: 20vh;  /* On smaller screens, reduce the max height to 30% of the viewport height*/
    max-width: 20vh;
  }
}

@media (max-width: 480px){
  .video{
    height: auto;
    /*max-height: 20vh;  /* On smaller screens, reduce the max height to 30% of the viewport height*/
    max-width: 10vh;
  }
}

.card-media{
  object-fit: contain; /* Ensures the image maintains its aspect ratio without covering content*/
  height: auto;       /* Automatically adjust the height to maintain aspect ratio*/
  max-height: 25vh;    /* Limit the height to 50% of the viewport height (adjust as necessary)*/
  max-width: 25vh;        /* Make sure the image fills its container's width*/
  /* Responsive height adjustment (optional based on breakpoints)*/
  
}


@media (max-width: 768px){
  .card-media{
    height: auto;
    /*max-height: 20vh;  /* On smaller screens, reduce the max height to 30% of the viewport height*/
    max-width: 20vh;
  }
}

@media (max-width: 480px){
  .card-media{
    height: auto;
    /*max-height: 20vh;  /* On smaller screens, reduce the max height to 30% of the viewport height*/
    max-width: 10vh;
  }
}
